html, body, tr, td {
    background-color: #0C0C0C;
    color: #CCCCCC;
}

b, a, a:link, a:visited, a:active, h3 {
    color: #F2F2F2;
}

pre#logo {
    color: #F2F2F2;
    text-shadow: 0 0 5px white;
}

a:hover {
    color: #F9F1A5;
}

hr, div.bar {
    background: #767676;
    color: #0C0C0C;
}

input, textarea {
    background-color: #0C0C0C;
    color: #CCCCCC;
    border: 1px solid #767676;
}

table {
    border: 1px solid #767676;
}