html, body, tr, td {
    background-color: #000a00;
    color: #00aa00;
}

b, a, a:link, a:visited, a:active, h3 {
    color: #00ff00;
}

pre#logo {
    color: #00ff00;
    text-shadow: 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}

a:hover {
    color: white;
}

hr, div.bar {
    background: #006600;
    color: #000a00;
    box-shadow: 2px 2px #263829;
}

h1, h2, h3, h4, h5, th {
    text-shadow: 2px 2px #005a00;
}

input, textarea {
    background-color: #000a00;
    color: #00aa00;
    border: 1px solid #00aa00;
}

table, div#main pre  {
    border: 1px solid #00aa00;
}