html, body, tr, td {
    background-color: #000a00;
    color: #00aa00;
}

b, a, a:link, a:visited, a:active, h3 {
    color: #00ff00;
}

pre#logo {
    color: #00ff00;
    text-shadow: 0 0 5px #00ff00;
}

a:hover {
    color: white;
}

hr, div.bar {
    background: #006600;
    color: #000a00;
    box-shadow: 2px 2px #263829;
}

h1, h2, h3, h4, h5 {
    text-shadow: 2px 2px #005a00;
}

input, textarea {
    background-color: #000a00;
    color: #00aa00;
    border: 1px solid #00aa00;
}

table {
    border: 1px solid #00aa00;
}