html, body, tr, td {
    background-color: #000a00;
    color: #00aa00;
}

b, a, a:link, a:visited, a:active, h3 {
    color: #00ff00;
}

pre#logo {
    color: #00ff00;
}

a:hover {
    color: white;
}

hr, div.bar {
    background: #006600;
    color: #000a00;
}

input, textarea {
    background-color: #000a00;
    color: #00aa00;
    border: 1px solid #00aa00;
}

table {
    border: 1px solid #00aa00;
}