html, body, tr, td {
    background-color: #222222;
    color: #BDBDBD;
}

b, a, a:link, a:visited, a:active, h3 {
    color: #4DD0E1;
}

pre#logo {
    color: rgb(238, 238, 238);
    text-shadow: 0 0 5px white;
}

a:hover {
    color: #00BCD4;
}

hr, div.bar {
    background: #4DD0E1;
    color: #222222;
    box-shadow: 2px 2px #616161;
}

h1, h2, h3, h4, h5 {
    text-shadow: 2px 2px #616161;
}

div.bar a, div.bar a:link, div.bar a:visited, div.bar a:active {
    color: #222222;
}

input, textarea {
    background-color: #222222;
    color: #BDBDBD;
    border: 1px solid #4DD0E1;
}

table {
    border: 1px solid #4DD0E1;
}
