html, body, tr, td {
    background-color: #292D3E;
    color: #676E95;
}

b, a, a:link, a:visited, a:active, h3 {
    color: #959DCB;
}

pre#logo {
    color: #959DCB;
}

a:hover {
    color: white;
}

hr {
    background: #676E95;
}